<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
    <script src="../static/add.js" type="text/javascript"></script>>
</head>
<body>
   <div align="center" style="margin-top:40px;">
       <img src="../static/add.png">
   </div>
   <div align="center" style="margin-top:60px;">
       {{message}}
       <form name="form1" method="POST">
            <!--{{message}}-->
           <input type="text" placeholder="adder" name="adder1">+
            <input type="text" placeholder="adder-2" name="adder2">=
            <input type="text" readonly="readonly" placeholder="result" name="result" value="{{message}}" >
            <input type="submit" value="计算" onclick="add()">
       </form>
   </div>>

</body>
</html>